<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thelittlefireman.appkillermanager_exemple">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intentAction-filter>
                <action android:name="android.intentAction.killerManagerActionType.MAIN" />
                <category android:name="android.intentAction.category.LAUNCHER" />
            </intentAction-filter>
        </activity>
    </application>

</manifest>